:root {
    --mainBG: #CCCCCC;
    --mainText: #444444;
    --warnBG: #EE7777;
    --warnText: #222222;
    --correctBG: #66FFFF;
    --correctText: #4444FF;
    --buttonBG: #AAAAAA;
    --buttonText: #444444;
    --inputBG: #66FFFF;
    --inputText: #444444;
}

:focus {
    border-style: dashed;
    border-color: white;
    border-width: 5px;
}

div:empty {
    display: none;
}

section {
    margin: 1rem .3rem;
    padding: .3rem;
    max-width: 900px;
    color: var(--mainText);
    background-color: var(--mainBG);
    border: 2px solid black;
    border-radius: .3rem;
}

ul, details {
    margin: 0;
    padding: 0;
}

figure img {
    display: block;
    margin: .3rem auto;
    box-shadow: 3px 3px black;
}

figure span {
    text-align: center;
}

figcaption {
    text-align: center;
}

img {
    max-width: 75%;
    border-radius: .3rem;
}

.fileLoadOutput {
    border: 2px solid black;
    color: var(--correctText);
    background-color: var(--correctBG);
}

button {
    height: 2rem;
    color: var(--buttonText);
    margin: .3rem;
    background-color: var(--buttonBG);
    border-radius: .3rem;
    padding: .3rem;
}

textarea {
    max-width: 95%;
}

.quiz {
    padding: .3rem;
}

.quiz label, .quiz input{
    font-size: 1.5rem;
}

.quiz h1 {
    text-align: center;
}

input#response {
    width: 95%;
}

input, textarea {
    background-color: var(--inputBG);
    color: var(--inputText);
}

.quiz #feedback {
    font-size: 1.2rem;
    text-align: center;
    border: 1px solid black;
    border-radius: .3rem;
}

.not-answered {
    color: var(--mainBG);
    background-color: var(--mainText);
}

.correct {
    color: var(--correctText);
    background-color: var(--correctBG);
}

span.correct {
    border-radius: .3rem;
    padding: 0 .3rem;
    box-shadow: 1px 1px black;
}
.mnemonic {
    border-radius: .3rem;
    padding: 0 .3rem;
    color: var(--buttonBG);
    background-color: var(--buttonText);
    box-shadow: 1px 1px grey;
}

.incorrect {
    color: var(--warnText);
    background-color: var(--warnBG);
}

.quote::before {
    content: open-quote;
}
.quote::after {
    content: close-quote;
}

ul {
    list-style: none;
}

ol {
    margin-left: 1rem;
}

.needInput {
    border: 5px solid red;
}

fieldset, div.note {
    border: 1px solid black;
    border-radius: .3rem;
    padding: .3rem;
}

.source {
    border-bottom: 1px groove black;
    border-left: 1px groove black;
    border-right: 1px groove black;
    border-radius: .3rem;
    margin-top: .3rem;
    padding: .3rem;
    box-shadow: lightgrey 3px 3px;
}

.quizCard[data-slug=newSlug] ~ .sidebar > .saveNew {
    display: none;
}

.editObj.quizCard .quizCard:not([data-slug=newSlug]) ~ .saveNew {
    display: inline;
    background-color: var(--warnBG);
    color: var(--warnText);
}

.imagePreview[src] {
    border: 1px solid black;
}

.imagePreview:not([src]) {
    display: none;
}

.editObj {
    color: black;
    position: relative;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
}
.editObj h1 {
    text-align: center;
    grid-row: 1 / 2;
    grid-column: 1 / -1;
}
.editObj .sidebar {
    grid-row: 2 / -1;
    grid-column: 2 / -1;
}
.editObj > div {
    border: 5px solid black;
    border-radius: .3rem;
    padding: 1rem;
    margin: 1rem;
}

section.editObj.add .add,
section.editObj.source .source,
section.editObj.note .note,
section.editObj.quizCard .quizCard {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    animation: fadein 2s ease;
    animation-fill-mode: forwards;
}

section.editObj:not(.add) .add,
section.editObj:not(.source) .source,
section.editObj:not(.note) .note,
section.editObj:not(.quizCard) .quizCard {
    margin: 1rem;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    animation: fadeout 2s ease;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
        z-index: -1;
    }
    to {
        opacity: 1;
        z-index: 0;
    }
}

@keyframes fadeout {
    from {
        opacity: 1;
        z-index: 0;
    }
    to {
        opacity: 0;
        z-index: -1;
    }
}

h2 {
    margin-bottom: 0;
}

label {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1rem;
}

.text {
    padding: .3rem;
    border-radius: .3rem;
    margin: 1rem 0;
    white-space: pre-wrap;
}

.textEdit {
    width: 75%;
}

.note {
    color: black;
}

.question {
    background-color: lightcoral;
}

.quote {
    background-color: lightblue;
}

.lesson {
    background-color: lightgreen;
}

.term {
    background-color: pink;
}

.card {
    border: 2px solid black;
}

.source p {
    padding-left: 22px;
    text-indent: -22px;
}

.collection {
    font-style: italic;
}